.App {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin:0 auto;
}

.App-logo{
  text-align: left;
  margin-top:10px;
}

.App-logo .profile-img{
  pointer-events: none;
  border-radius: 5%;
}

.App-header {
  margin:10px;
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
  text-align: left;
  float: left;

}

.App-header label, .App-header strong{
  display: block;
}

.App-link {
  color: #61dafb;
  font-size: 20px;
  text-align: left;
}

.App-header label{
  font-size: 15px;
  color: #323234;
}